@charset "utf-8";

/*
 * BBrowser app styles.
 * (C) 2016 Lupshenko.
 * This code is licensed under the GPL3.
 */

/*WebViewArea*/
	#webViewArea {
		display: block;
		position: absolute;
		top: 7vh;
		width: 100vw;
		height: 93vh;
	}
	
	#webViewArea iframe {
		display: block;
		width: 100vw;
		height: 93vh;
		border: 0;
		background: white;
	}

/*Dialogs*/
	/*Info*/
		#logo {
			height: 30vh;
			width: 30vh;
		}
	
	/*Common*/
		#History .content .button, #Bookmarks .content .button, #Plugins .content .button {
			display: block;
			padding: 2vh 0;
			width: 68vw;
		}
		
		#History .content .button .title, #Bookmarks .content .button .title {
			font-size: 4vh;
		}
		
		#History .content .button .href, #Bookmarks .content .button .href {
			font-size: 3vh;
		}
		
		#History .content .button .date, #Bookmarks .content .button .date {
			font-size: 2vh;
		}
		
		#Plugins .content .button {
			word-wrap: break-word;
		}
